<mat-card>
  <mat-card-header>
    <h1>Car Make - Car Brand - Car Model</h1>
  </mat-card-header>
  <mat-card-subtitle>
    <h3>Car Price - City - Registered City
    </h3>
    </mat-card-subtitle>
    <mat-card-content>
      <p> Images</p>
      <h4>Car Mileage - Car Color - Car Price </h4>
      <p>Car - Description</p>
      <p>Assembly - Transmission - Engine Type - Engine Capacity</p>
      <p>features</p>
      <p>mobile Number</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Chat</button>
      <button mat-raised-button color="accent">Book</button>
    </mat-card-actions>
</mat-card>

