
<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="container">
  <div class="sidenav">
    <a  routerLink='/auth/create-admin' routerLinkActive="mat-accent">Create Admin</a>
    <a routerLink='/auth/allusers' routerLinkActive="mat-accent">All Users</a>
    <a routerLink='/auth/unverified' routerLinkActive="mat-accent">Unverified Users</a>
    <a routerLink='/auth/verified' routerLinkActive="mat-accent">Verified Users</a>
  </div>


<div class="main">

<mat-card>
<mat-accordion multi="true" *ngIf="verifiedUsers.length>0 && !isloading">
  <mat-expansion-panel *ngFor="let user of verifiedUsers">

    <mat-expansion-panel-header>
      <p><b>Full Name: </b>{{user.fullName}} - <b>CNIC:</b> {{user.cnicNumber}}</p>

    </mat-expansion-panel-header>
    <p>Email: {{user.email}}</p>
    <p>PhoneNumber: {{user.phoneNumber}}</p>

    <p>Address: {{user.fullAddress}}</p>
    <p>Date of Birth: {{user.dob}}</p>

    <div class="post-image">
      <img [src]="user.imagePath" [alt]="user.fullName">
    </div>
    <mat-action-row >
      <!--*ngIf="userIsAuthenticated && userId === user.creator"-->
      <a mat-flat-button color="primary" (click)="onApprove(user.cnicNumber)"  > Approve</a>
      <button mat-flat-button color="warn" (click)="onDelete(user.cnicNumber)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalverifiedUsers" [pageSize]="verifiedUsersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="verifiedUsers.length>0">

</mat-paginator>
<p class="info-text mat-body-1" *ngIf="verifiedUsers.length<=0 && !isloading">No Posts Availables.!</p>
</mat-card>
</div>
</div>
