

<mat-spinner *ngIf="isloading" ></mat-spinner>
<div class="top">
<img class="wave" src="../../../assets/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../../assets/images/bg.svg">
		</div>
		<div class="login-content">
			<form (submit)="onLogin(loginform)" #loginform="ngForm" *ngIf="!isloading">
				<img src="../../../assets/images/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div" style="margin-bottom:0px;">
                    <input matInput name="cnicNumber" placeholder="CNIC" class="input" ngModel type="string" #cnicInput="ngModel" required>
           		   </div>
               </div>
               <br>
           		<div class="input-div one">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
                  <input  matInput name="password" ngModel   type="password" placeholder="Password" id="myInput"  class="input" #passwordInput="ngModel" required>
                  <!--<span style="float:right;padding-top:15px;" toggle="myInput" class="fa fa-eye field-icon toggle-password"onclick="myFunction()"></span>
                  -->

                  </div>
            	</div>
            	<a routerLink="/forgotpassword">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login" *ngIf="!isloading">
            </form>
        </div>
    </div>
</div>

<script>

const inputs = document.querySelectorAll(".input");

function addcl(){
	let parent = this.parentNode.parentNode;
	parent.classList.add("focus");
}

function remcl(){
	let parent = this.parentNode.parentNode;
	if(this.value == ""){
		parent.classList.remove("focus");
	}
}

inputs.forEach(input => {
	input.addEventListener("focus", addcl);
	input.addEventListener("blur", remcl);
});

/*


$(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});*/



function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>
