.container-fluid
{
  background-color: rgb(252, 252, 252);
}

.right
{
  align-content: right;
}
.left
{
  align-content: left;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.matformfield-left
{
  padding-right:1rem;
}
.matformfield-right
{
  padding-left:2%;
}
mat-form-field
{
  width: 100%;
  align-items: left;

}
mat-label
{
  padding-left: 5px;
}
mat-spinner
{
  margin: auto;
}
input[type="file"]
{
  visibility: hidden;
}

.image-preview
{
  height: 5rem;
  margin: 1rem 0;
}
.submitrow
{
  margin-bottom: 5rem;
}
.image-preview img
{
  height: 100%;
}
.submitButton
{

  margin-left: 25%;
  width: 50%;
}
.mat-card
{
  margin-top: 1rem;

}
mat-grid-tile {
  background: #fff;
}
input[type="radio"]
{
  visibility: hidden;
}
.accountStatus-radio-group
{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.accountStatus-radio-button
 {
  margin: 5px;
}




.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {


    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {

    text-align: center;
    float: none;
  }
}
