<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer" class="footer">
  <div class="w3-row-padding">
    <div class="w3-col s4 left">
      <h4>Contact</h4>
      <p>Questions? Go ahead.</p>
      <input type="text" palceholder="Email"><br>
      <input type="textarea" palceholder="Enter Your query"><br>
      <button mat-button>Send</button>
    </div>

    <div class="w3-col s4 center ">
      <h4>About</h4>
      <p><a href="#">About us</a></p>
      <p><a href="#">Blogg</a></p>
      <p><a href="#">Support</a></p>
      <p><a href="#">Find Car</a></p>
      <p><a href="#">Sign-Up</a></p>
      <p><a href="#">Sign-In</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">Help</a></p>
    </div>

    <div class="w3-col s4 w3-justify right">
      <h4>Information</h4>
      <p><i class="fa fa-fw fa-map-marker"></i> V.E.M.B</p>
      <p><i class="fa fa-fw fa-phone"></i> 03355423119 </p>
      <p><i class="fa fa-fw fa-envelope"></i> info@vemb.com</p>
      <br>
     <p> <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
      <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
      <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
      <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
      <i class="fa fa-linkedin w3-hover-opacity w3-large"></i></p>
    </div>
  </div>

</footer>
<footer class="footer2">
  <div class="row">
    <p class="copyright">2020 &#169; V.E.M.B</p>
  </div>
</footer>
