:host
{
  display: block;
  margin-top: 1rem;
}

.info-text
{
  text-align: center;
}

mat-spinner
{
  margin: auto;
}
.post-image
{
  width: 100%;
}
.post-image img
{
 width: 40%;
 height:300px;
 box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
mat-paginator
{
  margin-top: 1rem ;
}
.admin-panel
{
  text-size-adjust: 20;
 align-items:center;
 text-emphasis: dot thickness 1px;
 text-underline-position: below;
 margin-top:1rem;
 margin-bottom: 2rem;
}


/*Side Nav CSS*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  margin-top: 4.1%;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 72, 0, 0.644);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;margin-top: 4.1%;}
  .sidenav a {font-size: 12px;}
}



.container
{
  width:125.6%;
  margin-top: 5rem;
}

mat-card
{
  margin: 1rem;
  box-shadow: 5px 2px 0 0;
}
