
<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="container">
  <div class="sidenav">
    <a  routerLink='/auth/create-admin' routerLinkActive="mat-accent">Create Admin</a>
    <a routerLink='/auth/allusers' routerLinkActive="mat-accent">All Users</a>
    <a routerLink='/auth/unverified' routerLinkActive="mat-accent">Unverified Users</a>
    <a routerLink='/auth/verified' routerLinkActive="mat-accent">Verified Users</a>
  </div>


  <div class="main">
    <h1>Welcome </h1>
  </div>
</div>
