
<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="container" style="width:125.6; margin-left:-10.2rem;">
<div class="sidebar">
  <a routerLink='/auth/admin'>Home</a>
  <a routerLink='/auth/create-admin'>Create Admin</a>
  <a routerLink='/auth/allusers'>All Users</a>
  <a routerLink='/auth/unverified' >Unverified Users</a>
  <a routerLink='/auth/verified'>Verified Users</a>
  <a routerLink="/create">Post and Ad</a>
  <!--<a routerLink='/auth/createblog' routerLinkActive="mat-accent">Create Blog</a>
    <a routerLink='/auth/allblogs' routerLinkActive="mat-accent">All Blogs</a>
  -->
  <a routerLink="/">Main Web</a>
  <a routerLink='/auth/allblogs' routerLinkActive="mat-accent">All Blogs</a>

  <a (click)="onLogout()">Logout</a>

</div>

<div class="content" >
  <div class="row"  >
  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Total Registered Users
      </mat-card-header>
      <mat-card-content>
        <canvas  id="pieChart" width="400" height="400"></canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Total Verified Users

      </mat-card-header>
      <mat-card-content>
        <canvas id="myChart" width="400" height="400"></canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Total UnVerified Users
      </mat-card-header>
      <mat-card-content>
       <h3> 2</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Total Ads
      </mat-card-header>
      <mat-card-content>
       <h3> {{totalPosts}}</h3>
        <canvas id="linechart" width="400" height="400"  ></canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Total Blogs
      </mat-card-header>
      <mat-card-content>
       <h3> 0</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col col-lg-6 col-md-6 col-sm-12">
    <mat-card>
      <mat-card-header>
        Over All Sales
      </mat-card-header>
      <mat-card-content>
       <h3> 0</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>
