:host
{
  display: block;
  margin-top: 1rem;
}

.info-text
{
  text-align: center;
}

mat-spinner
{
  margin: auto;
}
.post-image
{
  width: 100%;
}
.post-image img
{
 width: 40%;
 height:300px;
 box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
mat-paginator
{
  margin-top: 1rem ;
}
.admin-panel
{
  text-size-adjust: 20;
 align-items:center;
 text-emphasis: dot thickness 1px;
 text-underline-position: below;
 margin-top:1rem;
 margin-bottom: 2rem;
}

.container
{
  width:125.6%;
  margin-top: 15rem;
}

/*new*/

.Side_nav_a
{
  color: #8a8a8a;
  font-size: 20px;
  margin: 3px;
}

li
{
  text-decoration: none;
  width:200%;
  margin-top: 1.2rem;
  margin-bottom:1.2rem;
  list-style-type: none;

}
mat-card
{
  margin:5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}
.anchor_card:hover
{
  border: 1px solid #7B01EA;
}

a
{
  width:100%;

}
.side_nav_col
{
  background-color: #ffffff;
}
.anchor_card
{
  width:10rem;

}
.anchor_card a
{
  font-size: 18px;
}
.sidenav {
  margin-top: 4.2%;
  height: 55%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(24, 151, 255, 0.993);
  padding-top: 22px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;margin-top: 4.1%;}
  .sidenav a {font-size: 12px;}
}
