
<div class="container-fluid">
  <form [formGroup]="resetform" (submit)="onreset()"  *ngIf="!isloading">
    <div class="row">
      <div class="col col-lg-4 col-md-4">
        <mat-card class="main-card">
          <mat-card-header class="mat-header">
            <mat-card-title class="mat-header-title main-heading">Lost Your Password Dont Worry we Got You Back, Reset using your private Key</mat-card-title>
              <mat-card-subtitle class="mat-header-subtitle sub-heading"></mat-card-subtitle>
          </mat-card-header>
          <!-- Full name Field Field -->
          <mat-form-field class="matformfield-left" >
            <input matInput  type="text" placeholder="CNIC NUMBER"  formControlName="cnicNumber">
              <mat-error *ngIf="resetform.get('cnicNumber').invalid">Please Enter A valid Registered CNIC Number</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="matformfield-left" >
            <input matInput  type="text" placeholder="Private Key"  formControlName="privatekey">
              <mat-error *ngIf="resetform.get('privatekey').invalid">Please Enter A Correct private key</mat-error>
          </mat-form-field>
          <div class="row submitrow">
            <div class="col">
            <!-- Submit button -->
            <button mat-raised-button  type="submit" style="align-self: center" class="submitButton">Reset</button>
          </div>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>

