<mat-card class="user-details">
    <mat-card-header style="align-items: center">
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
       <p><b>Full Name::</b>{{this.fullName}}</p><br>
        <p><b>Email: </b></p><br>
        <p><b>Address: </b></p><br>
        <p><b>Phone number: </b></p><br>
        <p><b>Date of birth: </b></p><br>
        <p><b>Gender: </b></p><br>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" class="edit-btn">Edit Deatils</button>
        <button mat-raised-button color="warn" class="delete-btn">Delete Account</button>
    </mat-card-actions>
</mat-card>
<mat-card class="report-card">
  <mat-card-content>
    <button mat-raised-button class="bar-chart-btn" style="background-color:#03cffc; color: #fff;">View Bar chart Report</button>
    <button mat-raised-button class="pie-chart-btn" style="background-color:#f403fc; color:#fff;">View Pie Chart Report</button>
  </mat-card-content>
</mat-card>
