
<!--Header Start-->


<a id="close_mobile_menu" href="javascript:;"></a>

<div class="mobile_menu_wrapper">
    <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

    <div class="mobile_menu_content">

        <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
                <li class="menu-item current-menu-item menu-item-has-children"><a routerLink="/">Home</a>
                </li>
                <li class="menu-item menu-item-has-children"><a routerLink="/posts">Cars</a>
                </li>
                <li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a></li>
                <li class="menu-item menu-item-has-children"><a href="contact-us.html">Contact Us</a></li>
                <li class="menu-item menu-item-has-children"><a href="faqs.html">FAQs</a></li>
                <li class="menu-item menu-item-has-children"><a href="blog-left-sidebar.html">Blog</a>
                </li>
            </ul>
        </div>

        <!-- Begin side menu sidebar -->
        <div class="page_content_wrapper">
            <div class="sidebar_wrapper">
                <div class="sidebar">

                    <div class="content">

                        <ul class="sidebar_widget">
                            <li id="text-8" class="widget widget_text">
                                <h2 class="widgettitle">For More Informations</h2>
                                <div class="textwidget"><span class="ti-mobile" style="margin-right:10px;"></span>1-567-124-44227
                                    <br/>
                                    <span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00 </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <!-- End side menu sidebar -->

        <div class="social_wrapper">
            <ul><!--social links-->
                <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="instagram"><a target="_blank" title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>








<div class="header_style_wrapper">

<!-- Begin top bar -->
<div class="above_top_bar">
    <div class="page_content_wrapper">

        <div class="social_wrapper">
            <ul><!--social links-->
                <li class="facebook" *ngIf="userIsAuthenticated">
                  <a  routerLink="/userprofile" routerLinkActive="mat-accent">
                    Profile
                  </a>
                </li>
                <li class="facebook" *ngIf="!userIsAuthenticated">
                  <a  routerLink="/auth/login" routerLinkActive="mat-accent">
                    Login
                  </a>
                </li>
                <li class="facebook" *ngIf="!userIsAuthenticated">
                  <a >
                    |
                  </a>
                </li>
                <li class="facebook" *ngIf="!userIsAuthenticated">
                  <a  routerLink="/auth/signup" routerLinkActive="mat-accent">
                    Sign Up
                  </a>
                </li>
                <li class="facebook" *ngIf="userIsAuthenticated && approve == true ">
                  <a  routerLink="/auth/admin" routerLinkActive="mat-accent">
                    Admin
                  </a>
                </li>
                <li class="facebook" *ngIf="userIsAuthenticated">
                  <a  routerLink="" (click)="onLogout()" >
                    Logout
                  </a>
                </li>
            </ul>
        </div>
        <div class="top_contact_info">
            <div class="company_address">
                <div id="top_contact_address"><span class="ti-location-pin"></span>2 Floor Pak Plaza Double Road PWD</div>
            </div>
            <div>
                <div id="top_contact_number"><a href="tel:+92-335-5423119"><span class="ti-mobile"></span>+92-335-5423119</a></div>
            </div>
            <div>
                <div id="top_contact_hours"><span class="ti-alarm-clock"></span>Mon-Fri 09.00 - 17.00 </div>
            </div>
        </div>
        <br class="clear" />
    </div>
</div>
<!-- End top bar -->
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      V.E.M.B
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a routerLink="/" style="margin-left:10px;" >Home</a>
    <a routerLink="/posts" >Cars</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/contactus">Contact Us</a>
    <a routerLink="/faq">F.A.Q</a>
    <a routerLink="/inbox">Inbox</a>
    <button routerLink="/create" routerLinkActive="mat-accent" style="background-color: #27b803; border:0; color: #ffffff;  height:34px; border-radius: 50px 50px 50px 50px; width:140px;padding-top: 5px;padding-bottom:5px;">Sell Your Car</button>
 
  </div>
</div>
</div>



<!--Header End-->


<!--Main Content-->

<div id="page_caption" class="hasbg parallax  withtopbar   " style="width: 125.6% ; margin-left:-10rem;background-image:url(../../assets/web-image-asset/pexels/pexels-avinash-patel-544542.jpg);">

  <div class="page_title_wrapper">
      <div class="page_title_inner">
          <div class="page_title_content">
              <h1 class="withtopbar">All Your Desired Car Searched</h1>
              <div class="page_tagline">
                  This shows you all the ads related to the search you have tried </div>
          </div>
      </div>
  </div>

</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg withtopbar " style="width: 125.6% ;margin-left:-10rem;">
    <form class="car_search_form" (submit)="searching()"  method="get" action="#">
        <div class="car_search_wrapper" style="margin-left: 15rem;">
            <div class="one_fourth themeborder">
                <select id="brand" name="brand" [(ngModel)]="selectedBrand">
                  <option value =""  selected> Any Brand </option>
                    <option *ngFor = "let b of brands">
                        {{b.name}}
                  </option>
                </select>
                <span class="ti-angle-down"></span>
            </div>
            <div class="one_fourth themeborder">
              <input type= "text" (keyup)="onKey($event)" placeholder="Model">
             
          </div>
            <div class="one_fourth themeborder">
                <select id="type" name="type" [(ngModel)]="selectedColour">
                  <option value =""  selected> Any Colour </option>
                  <option *ngFor = "let c of colours">
                      {{c.name}}
                </option>
                </select>
                <span class="ti-angle-down"></span>
            </div>
          <div class="one_fourth themeborder">
            <select id="type" name="type" [(ngModel)]="selectedCity">
              <option value =""  selected> City </option>
              <option *ngFor = "let c of cities">
                  {{c.name}}
            </option>
            </select>
            <span class="ti-angle-down"></span>
        </div>
            <div class="one_fourth themeborder">
              
              <select id="sort_by" name="sort_by" [(ngModel)]="selectedPrice">
                  <option value =""  selected> Price </option>
                  <option *ngFor = "let p of prices">
                      {{p.name}}
                </option>
                </select>
                <span class="ti-angle-down"></span>
            </div>
            <div class="one_fourth themeborder" style="background-color:#27B803;" id="car_search_btn" type="submit">
                <button  style="background-color:#27B803;border:none;align-content: center;"  id="car_search_btn" type="submit" class="button" value="Search" width="100%" height="100%">Search</button>
            </div>
        </div>
    </form>

  <!-- Begin content -->

  <div class="inner" style="widows: 70% ; margin-left:-10rem;">

      <div class="inner_wrapper nopadding">

          <div id="page_main_content" class="sidebar_content left_sidebar fixed_column">

              <div class="standard_wrapper">

                  <div id="portfolio_filter_wrapper" class="gallery classic two_cols portfolio-content section content clearfix" data-columns="3">

                    <div *ngFor = "let post of sharedData">
                    <div class="car_list_wrapper floatleft noborder">
                      <div class="one">
                          <a class="car_image" href="#">
                              <img src={{post.imagePath}} alt="{{post.make}}" />
                          </a>
                      </div>

                      <div class="one">
                          <div class="car_attribute_wrapper car_list">
                              <a class="car_link" (click) = "roting(post)" ><h3>{{post.make + " " + post.model}}</h3></a>
                              
                              <br class="clear" />
                              <div class="one_third">
                                  <div class="car_attribute_wrapper_icon">
                                      <ul>
                                          <li>
                                              {{post.enginetype}}
                                          </li>
                                          <li>
                                              {{post.enginecapacity}}
                                          </li>
                                      </ul>

                                  </div>
                                  <br class="clear" />
                              </div>
                              <div class="one_third">
                                <div class="car_attribute_wrapper_icon">
                                    <ul>
                                        <li>
                                            {{post.exteriorcolor}}
                                        </li>
                                        <li>
                                            {{post.registrationcity}}
                                        </li>
                                    </ul>

                                </div>
                                <br class="clear" />
                            </div>
                          
                            
                             

                          </div>
                          <div class="car_attribute_price car_list">
                              <div class="car_attribute_price_day four_cols">
                                  <span class="single_car_currency">Rs.</span><span class="single_car_price">{{post.price}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                  <br class="clear" />


              </div>
          </div>



      </div>
  </div>
</div>


<!--main Content-->


<!--Footer-->


<p style="height: 45px;">

</p>
    <div id="footer" class=" ppb_wrapper" style="position: relative; width: 125.6% ; margin-left:-10rem;">
      <ul class="sidebar_widget three">
          <li id="text-2" class="widget widget_text">
              <h2 class="widgettitle">About Us</h2>
              <div class="textwidget">
                  <p>Getting dressed up and traveling with good friends makes for a shared, unforgettable experience. </p>
                  <!--put logo-->
                  <!--<p><img src="../../assets/images/logo@2x_white.png" alt="" width="175" height="24"></p>-->
              </div>
          </li>
          <li id="text-3" class="widget widget_text">
              <h2 class="widgettitle">Contact Info</h2>
              <div class="textwidget">
                  <p><span class="ti-mobile" style="margin-right:10px;"></span>+92-335-5423119</p>
                  <p><span class="ti-location-pin" style="margin-right:10px;"></span>2 Floor Pak Plaza Main Pwd Double </p>
                  <p><span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00 Sunday CLOSED</p>
                  <div style="margin-top:20px;">
                      <div class="social_wrapper shortcode dark ">
                          <ul><!--Social Links-->
                              <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                              <li class="twitter"><a target="_blank" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                              <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                              <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                              <li class="instagram"><a target="_blank" title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </li>
          <li id="mc4wp_form_widget-5" class="widget widget_mc4wp_form_widget">
              <h2 class="widgettitle">Newsletter</h2>

              <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-27" method="post" data-id="27" data-name="Newsletter">
                  <div class="mc4wp-form-fields">Don't miss a thing! Sign up to receive daily deals

                      <input type="email" name="EMAIL" placeholder="Your Email Address" required />
                      <br/>
                      <input type="submit" value="Subscribe" />
                  </div>
                  <label style="display: none !important;">Leave this field empty if you're human:
                      <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                  </label>

                  <div class="mc4wp-response"></div>
              </form>
          </li>
      </ul>
  </div>
  <div class="footer_bar  ppb_wrapper "style="width: 125.6% ; margin-left:-10rem;">

    <div class="footer_bar_wrapper ">
        <div class="menu-footer-menu-container">
          <ul id="footer_menu" class="footer_nav">
            <li class="menu-item"><a routerLink="/about">About Us</a></li>
            <li class="menu-item"><a routerLink="/posts">Cars</a></li>
            <li class="menu-item"><a routerLink="/faq">FAQs</a></li>
            <li class="menu-item"><a routerLink="/contactus">Contact Us</a></li>
        </ul>
        </div>
        <div id="copyright">© Copyright V.E.M.B</div>
        <br class="clear" />
    </div>
</div>


<!--footer-->

