/*:host
{
  display: block;
  margin-top: 1rem;
}

.info-text
{
  text-align: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-spinner
{
  margin: auto;
}
.post-image
{
  width: 30%;
  height: 15%;
}
.post-image img
{
 width: 75%;
 box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
mat-paginator
{
  margin-top: 1rem ;
}
mat-grid-tile-header
{
  background-color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  color: #fff;
}

.col-img
{
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 2;
  background-color: 'lightblue'
}
mat-expansion-panel
{
  margin-bottom: 1rem;
}
mat-expansion-panel-header
{

  padding-top: 5px;
}
mat-flat-button
{
  padding-right:5rem;
}
.action-buttons
{
  align-content: right;
 margin-right: 1rem;
 margin-left:10px;
 margin-bottom: 1rem;;
}
.mat-card-header
{
  margin-top:10rem;
}
mat-grid-tile {
  background: lightblue;
}



.search-bar {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-bar:focus {
  width: 50%;
}



.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/6.jpg");
  margin-top: 10rem;

  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.main-banner
{

  background-attachment: relative;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
.container
{
  width:125.6%;

}


mat-card
{
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}
*/

.main_div
{
  width: 125.6%;
  margin-left: -10rem;
}
.car_card_row
{
  box-shadow: 5px 5px 5px 5px #888888;
  margin-top:3rem;
  margin-bottom: 1rem;
}
.car_card_row:hover
{
  box-shadow: 10px 10px 15px 15px #888888;
}
.head_content
{
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1.2px;
  word-spacing: 1.5px;
  padding-left: 13rem;
  padding-top:1.2rem;
}
.price_city_content
{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 1.5px;
  padding-left: 13rem;
  padding-top:1rem;
}
.description_content
{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 1.5px;
  padding-left: 13rem;
  padding-top:1rem;
}
.Engine_content
{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 1.5px;
  padding-left: 13rem;
  padding-top:1rem;
}
.action_content
{
  padding-left: 13rem;
  padding-top:1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #000000;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  margin-left:5px;
  margin-right:5px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
