<div class="container">
  <!-- <app-search></app-search> -->
  <div class="row ">
    <img  class="main-banner" src="../../../assets/images/5.jfif">
  </div>
  <div class="row " >
      <h2>Main Content Area</h2>
  </div>
</div>

<!--
<mat-spinner *ngIf="isloading"></mat-spinner>
<div *ngIf="posts.length>0 && !isloading">
<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
      <table class="col col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
        <tr colspan="12" class="">
          <td  colspan="4">
            <mat-card class="example-card mt-2"   *ngFor="let post of posts">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{post.make+"-"+post.model}} - {{post.exteriorcolor}} - {{post.enginetype}}</mat-card-title>
                <mat-card-subtitle>{{post.city}}</mat-card-subtitle>
              </mat-card-header>
              <a href=#><img mat-card-image  [src]="post.imagePath" [alt]="post.make"></a>
              <mat-card-content>
                <p>
                   {{post.description}}
                </p>
                <p>
                post
                <p>
              </mat-card-content>
              <mat-card-actions *ngIf="userIsAuthenticated && userId === post.creator">
                <a mat-flat-button color="primary" class="action-buttons" [routerLink]="['/edit',post.id]" >EDIT</a>
                <button mat-flat-button color="warn" class="action-buttons" (click)="onDelete(post.id)" >DELETE</button>
                <button mat-flat-button color="accent" class="action-buttons">Chat</button>
              </mat-card-actions>

            </mat-card>
          <td>
        </tr>
      </table>

    </div>
  </div>
</div>
</div>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length>0">

</mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length<=0 && !isloading">No Posts Availables.!</p>
-->





<!-- <mat-spinner *ngIf="isloading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length>0 && !isloading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header  >

      <p>{{post.title}} - {{post.model}} - {{post.engine}}</p>

    </mat-expansion-panel-header>

    <p>{{post.location}} - {{post.content}}</p>

    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-flat-button color="primary" [routerLink]="['/edit',post.id]" >EDIT</a>
      <button mat-flat-button color="warn" (click)="onDelete(post.id)" >DELETE</button>
      <button mat-flat-button color="accent">Chat</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length>0">

</mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length<=0 && !isloading">No Posts Availables.!</p>
-->

<!--<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
-->
