
<mat-spinner *ngIf="isloading"></mat-spinner>
<div *ngIf="posts.length>0 && !isloading">
<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
      <table class="col col-lg-4 col-md-6 col-xl-4 col-sm-12 col-xs-12">
        <tr colspan="12" class="">
          <td  colspan="4">
            <mat-card class="example-card mt-2"   *ngFor="let post of posts" >
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{post.make+" - "+post.model}} - {{post.enginecapacity+"cc"}} - {{post.exteriorcolor}}</mat-card-title>
                <mat-card-subtitle>{{post.city}}</mat-card-subtitle>
              </mat-card-header>
              <a ><img mat-card-image  [src]="post.imagePath" [alt]="post.make"></a>
              <mat-card-content>
                <p>
                   {{"Description : "+post.description}}
                   <br>
                   {{"Engine Type : "+post.enginetype}}
                   <br>
                   {{"Price : "+post.price}}
                   <br>
                   {{"Assembled : "+post.assembly}}
                </p>
              </mat-card-content><!--&& userId === post.creator"-->
              <mat-card-footer>safaf</mat-card-footer>
              <mat-card-actions >
                <a *ngIf="userIsAuthenticated && this.post.creator == userId " mat-flat-button color="primary" class="action-buttons" [routerLink]="['/edit',post.id]" > EDIT</a>
                <button *ngIf="userIsAuthenticated && this.post.creator == userId " mat-flat-button color="warn" class="action-buttons" (click)="onDelete(post.id)" > DELETE</button>
                <button *ngIf="userIsAuthenticated && authorizedStatus " mat-flat-button color="accent" class="action-buttons">Chat</button>
                <a mat-flat-button color="primary" class="action-buttons" [routerLink]="['/post',post.id]" (click)="singlepostview(post.id)" >View</a>

              </mat-card-actions>

            </mat-card>
          <td>
        </tr>
      </table>

    </div>
  </div>
</div>
</div>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length>0">

</mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length<=0 && !isloading">No Posts Availables.!</p>
