
<mat-card class="main-card-banner">
  <h1 class="main_text_about_company">V E H I C L E ' S E - M A R K E T</h1>
  <h2 class="second_text_about_company"> A One Stop For Every Buyer & Seller</h2>
<h1 class="main_banner_h1">Come Sell Your Car With Us</h1>
</mat-card>

<mat-card class="search-card">
  <div class="search-div">
  <input type="text" placeholder="Make" class="input-search">
      <input type="text" placeholder="Model" class="input-search">
      <input type="text" placeholder="Color" class="input-search">
      <input type="text" placeholder="City" class="input-search">
      <button mat-button  class="search-button" >Search</button>
    </div>
</mat-card>

  <mat-grid-list cols="2" >
    <mat-grid-tile  class="search_area" colspan="2">
      <input type="text" placeholder="Engine" class="input-search">
      <input type="text" placeholder="Model" class="input-search">
      <input type="text" placeholder="Color" class="input-search">
      <input type="text" placeholder="City" class="input-search">
      <button mat-button  class="search-button" >Search</button>
    </mat-grid-tile>

  <mat-grid-tile  >
    2
  </mat-grid-tile>
  <mat-grid-tile rowspan="2"  >
    3
  </mat-grid-tile>
  <mat-grid-tile  >
    4
  </mat-grid-tile>
</mat-grid-list>



