
<mat-card class="main-card-banner">
  <h1 class="main_text_about_company">V E H I C L E ' S E - M A R K E T</h1>
  <h2 class="second_text_about_company"> A One Stop For Every Buyer & Seller</h2>
<h1 class="main_banner_h1">Come Sell Your Car With Us</h1>
</mat-card>

  <mat-grid-list cols="2" >
  <mat-grid-tile  colspan="2">
    1
  </mat-grid-tile>

  <mat-grid-tile  >
    2
  </mat-grid-tile>
  <mat-grid-tile rowspan="2"  >
    3
  </mat-grid-tile>
  <mat-grid-tile  >
    4
  </mat-grid-tile>
</mat-grid-list>



